div.shadow2{
  position:absolute;
  left:50%;
  overflow:visible;
  height: 15%
}
img.logoLand {
  position:relative;
  width:100%;
  top:50%;
  height:100%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 0;
}

.rectangle {
  position: absolute;
  top: 15%;
  background-color: #7175B7;
  width: 100%;
  height: 60%;
}

.slogan{
  position: relative;
  color: white;
  font-family: Poppins;
font-style: normal;
font-weight: bold;
max-width:100%;
font-size: 44px;
line-height: 44px;
text-align: center;
left: 50%;
top: 10%;
-ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);


}

.register{
  position: absolute;
  top: 80%;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 200%;
line-height: 45px;
text-align: center;
color: #7175B7;
-ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%
}

.register-button {
  position: absolute;
  align-content: center;
  left: 50%;
  top: 85%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login-button {
  top: 45%;
  position: absolute;
  color: #7175B7;
  font-size: 130%;
  right: 10%
}

.pic {
  position: relative;
  border-radius: 0%;
  border: none;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.group-pic {
  position: relative;
  border-radius: 0%;
  border: none;
}

.text1 {
  position: relative;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sub1 {
  position: relative;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Proxima Nova;
font-style: normal;
font-weight: normal;

line-height: 25px;
/* or 104% */

text-align: center;

color: #FFFFFF;
font-size: 18px;
max-width: 50%;
}

.text2 {
  position: relative;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
}

.text3 {
  position: relative;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
}

.sub1 {
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: relative;
  font-family: Proxima Nova;
font-style: normal;
font-weight: normal;

line-height: 25px;
/* or 104% */

text-align: center;

color: #FFFFFF;
font-size: 18px;
max-width: 70%;
}

.sub2 {
  position: relative;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Proxima Nova;
font-style: normal;
font-weight: normal;
font-size: 18px;
max-width: 70%;
line-height: 25px;
/* or 104% */

text-align: center;

color: #FFFFFF;
}

.sub3 {
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: relative;
  font-family: Proxima Nova;
font-style: normal;
font-weight: normal;
font-size: 18px;
max-width: 70%;
line-height: 25px;
/* or 104% */

text-align: center;

color: #FFFFFF;
}

.left-item{
  position: absolute;
  left: 25%;
  top:50%;
}

.middle-item{
  position: absolute;
  left: 50%;
  top:50%;
}

.right-item{
  position: absolute;
  left: 75%;
  top:50%;
}